.inputContainer {
  display: flex;
  gap: 0.25rem;
}

/* .propertiesContainer {
  margin-bottom: 0.5rem;
} */

.block {
  display: block;
  margin-bottom: 0.25rem;
}

.propertyInputContainer {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 0.25rem;
}

.buttonContainer {
  display: flex;
  gap: 0.25rem;
}
