.asideWrapper {
  width: 100%;
  height: 100%;
  left: 100%;
  position: fixed;
  /* display: flex; */
  background-color: var(--bg-grey);
  flex-direction: column;
  padding: 1rem;
  color: #686868;
}

.desktop {
  display: none;
}

.LogoSpaceing {
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.navOn {
  width: 100%;
  height: 100%;
  left: 0;
  position: fixed;
  /* display: flex; */
  background-color: var(--bg-grey);
  flex-direction: column;
  padding: 1rem;
  color: #686868;
  transition-property: all;
  transition-duration: 0.3s; /* You can adjust the duration to your preference */
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  ); /* You can adjust the easing function */
}

.navOff {
  width: 100%;
  height: 100%;
  left: -100%;
  position: fixed;
  /* display: flex; */
  background-color: var(--bg-grey);
  flex-direction: column;
  padding: 1rem;
  color: #686868;
  transition-property: all;
  transition-duration: 0.3s; /* You can adjust the duration to your preference */
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  ); /* You can adjust the easing function */
}

.linkProps {
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.activeLink {
  background-color: #e3e0ff;
  color: black;
}

.activeLink svg {
  color: var(--primary-color);
}

.linkProps svg {
  width: 1.5rem;
  height: 1.5rem;
}

.linkPropsButton {
  background-color: var#EEEEEE;
  display: flex;
  gap: 0.3rem;
  padding: 0.25rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
}

.linkPropsButton svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navOff {
    width: auto;
    position: static;
  }

  .desktop {
    display: block;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
